@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:wght@500&display=swap');
}

:root {
    --primary: #00B6A6;
    --more-dark-primary: #02a194;
    --white: #fff;
}

body,
main {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

.text-primary-me {
    color: var(--primary);
}

.btn-light:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn-slate-green {
    background-color: var(--primary);
    color: var(--white);
}
.btn-slate-green:hover {
    background-color: var(--more-dark-primary);
    color: var(--white);
}

p a:visited {
    color: #00B6A6;
}

p a:hover {
    color: var(--primary);
}

.border-me {
    border-color: #00B6A6;
}
.shadow-me{
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.bg-green-me{
    background-color: var(--primary);
}

#answer:hover {
    background: #222;
    color: #fff;
}

#next-btn {
    background: #00B6A6;
    color: #fff;
    font-weight: 500;
    width: 150;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
#next-btn:hover {
    background: #0e504b;
    color: #fff;
}

label {
    width: 100%;
}


.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked+.card-input {
    box-shadow: 0 0 2px 1px var(--more-dark-primary);
    color: var(--more-dark-primary);
    border-radius: 2px;
}



/* score */
.card-baner-score{
    margin: 50px; 
    background-color: #00B6A6; 
    height: 80px; 
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}
.result-score h1 {
    color: #00B6A6;
    font-size: 150px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -15px;
    margin-top: -15px;
}

.result-score p {
    color: #00B6A6;
    font-size: 20px;
    font-weight: bold;
    width: 232px;
    padding-top: 20px;
}


.btn-score {
    border-color: #00B6A6;
    font-weight: bold;
    border: 3px solid;
    border-radius: 10px;
    width: 163px;
    height: 45px;
    font-size: 20px;
    background-color: #ffff; 
    color: #00B6A6;
}

.btn-score:hover {
    border-color: #00B6A6;
    background-color: #00B6A6; 
    color: #ffff;
}

.circle-true-false{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.nav-link.active{
    background-color: var(--primary) !important;
}
.nav-link, .nav-link:hover{
    color: var(--primary);
}
/* akhie score */

