@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap');
}

:root {
    --primary: #00B6A6;
    --more-dark-primary: #02a194;
    --white: #fff;
}

body,
main {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

.text-primary-me {
    color: var(--primary);
}

.btn-light:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn-slate-green {
    background-color: var(--primary);
    color: var(--white);
}
.btn-slate-green:hover {
    background-color: var(--more-dark-primary);
    color: var(--white);
}

p a:visited {
    color: #00B6A6;
}

p a:hover {
    color: var(--primary);
}

.border-me {
    border-color: #00B6A6;
}
.shadow-me{
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.bg-green-me{
    background-color: var(--primary);
}

#answer {
    background: #fff;
    color: #222222;
    font-weight: 500;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

#answer:hover {
    background: #222;
    color: #fff;
}

#next-btn {
    background: #00B6A6;
    color: #fff;
    font-weight: 500;
    width: 150;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
#next-btn:hover {
    background: #0e504b;
    color: #fff;
}


/* mobile */
@media (max-width: 575.98px) {
    #gambar {
        display: none;
    }

}

/* mobile 2 */
@media (max-width: 767.98px) {

    /* .card {
        height: 20rem;
        width: 100%;
    } */
    #gambar {
        display: none;
    }



}