@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap');
}

:root {
    --primary: #00B6A6;
    --more-dark-primary: #02a194;
    --white: #fff;
}

body,
main {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
}

.text-primary-me {
    color: var(--primary);
}

.btn-light:hover {
    background-color: var(--primary);
    color: var(--white);
}

.btn-slate-green {
    background-color: var(--primary);
    color: var(--white);
}
.btn-slate-green:hover {
    background-color: var(--more-dark-primary);
    color: var(--white);
}

p a:visited {
    color: #00B6A6;
}

p a:hover {
    color: var(--primary);
}

.border-me {
    border-color: #00B6A6;
}
.shadow-me{
    box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.bg-green-me{
    background-color: var(--primary);
}