
/* mobile */
@media (max-width: 575.98px) {
    /* .card {
        height: 20rem;
        width: 100%;
    } */
    
}

/* mobile 2 */
@media (max-width: 767.98px) {
    /* .card {
        height: 20rem;
        width: 100%;
    } */

    

}

@media (max-width: 991.98px) {
    
    
}